@import "tailwindcss";

@theme {
  /* FONTS */
  --font-josefin: "Josefin Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* COLORS */
  --bg-color: #f0f0f0;
  --accent-color: #a3b18a;
  --green-stroke-color: #588157;
  --text-color: #333;
  --secondary-color: #4b3526;
  --gray-color: #aaaaaa;
  --light-gray-color: #dcdbdb;
  --cta-field-color: #dad7cd;
}

@layer base {
  body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1750px;
    background-color: var(--bg-color);
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-josefin);
  }
  p {
    font-family: var(--font-inter);
    color: var(--text-color);
  }
  button {
    font-family: var(--font-josefin);
    padding: 8px 25px;
    font-size: 20px;
    margin: 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
}

@layer utilities {
  .active {
    @apply bg-white rounded-md shadow shadow-black;
  }
}
