@import "tailwindcss";

@theme {
  /* FONTS */
  --font-josefin: "Josefin Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  /* COLORS */
  --bg-color: #f0f0f0;
  --accent-color: #a3b18a;
  --accent-hover: #588157;
  --green-stroke-color: #588157;
  --text-color: #333;
  --secondary-color: #4b3526;
  --gray-color: #aaaaaa;
  --light-gray-color: #dcdbdb;
  --cta-field-color: #dad7cd;
}

@layer base {
  body {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 1750px;
    background-color: var(--bg-color);
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-josefin);
  }
  p {
    font-family: var(--font-inter);
    color: var(--text-color);
  }
  button {
    font-family: var(--font-josefin);
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
  }
}

@layer utilities {
  .active {
    @apply bg-white/50 rounded-md shadow shadow-black/30 font-semibold;
  }
  .section-padding {
    @apply px-4 sm:px-16 my-12 sm:my-30;
  }
  .font-josefin {
    @apply font-josefin;
  }
  .add-color {
    @apply bg-(--accent-color);
  }

  .embla {
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .embla__container {
    display: flex;
    width: 100%;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 80vh;
  }
  .embla_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .title {
    @apply text-3xl md:text-5xl uppercase font-bold;
  }
  .subtitle {
    @apply text-xl;
  }
  .button-main {
    @apply text-[16px] sm:text-[18px] w-fit mt-4 text-white font-semibold duration-300 transition-colors bg-(--accent-color) hover:bg-(--accent-hover);
  }
  .text-tag {
    @apply font-josefin text-(--accent-color) uppercase text-[14px] font-bold;
  }
}
